<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691793248728-0jvp66c2iv4vkj7nqat4knqk9geje8bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691793248728-0jvp66c2iv4vkj7nqat4knqk9geje8bk</string>
	<key>API_KEY</key>
	<string>AIzaSyBkQMSOWCUI5wMcqvDuzVok_94k0-kznYU</string>
	<key>GCM_SENDER_ID</key>
	<string>691793248728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jnhuynh.unanchored</string>
	<key>PROJECT_ID</key>
	<string>unanchored-4027a</string>
	<key>STORAGE_BUCKET</key>
	<string>unanchored-4027a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691793248728:ios:d6544019f2adfc83ab32ad</string>
	<key>DATABASE_URL</key>
	<string>https://unanchored-4027a.firebaseio.com</string>
</dict>
</plist>